body {
    --nav-width: 200px;
    margin: 0 0 0 var(--nav-width);
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}

#app {
    margin: 2em;
    line-height: 1.5;
    font-weight: 500;
}

a {
    color: #009579;
}

ul.video-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul.video-list li {
    margin-right: 16px;
    margin-bottom: 16px;
}